<ul class="nav nav-pills nav-stacked">
  <li role="presentation" routerLink="about" routerLinkActive="active">
    <a href="javascript:void(0)">關於我</a>
  </li>
  <li role="presentation" routerLink="work" routerLinkActive="active">
    <a href="javascript:void(0)">工作經歷</a>
  </li>
  <li role="presentation" routerLink="skills" routerLinkActive="active">
    <a href="javascript:void(0)">技能</a>
  </li>
  <li role="presentation" routerLink="education" routerLinkActive="active">
    <a href="javascript:void(0)">學歷</a>
  </li>
  <li role="presentation" routerLink="awards" routerLinkActive="active">
    <a href="javascript:void(0)">獎項</a>
  </li>
  <li role="presentation" routerLink="publications" routerLinkActive="active">
    <a href="javascript:void(0)">作品</a>
  </li>
</ul>