body {
    font-family: '微軟正黑體';
    background: #f0f0f0;
}

.container {
    padding-top: 10px;
}

.title {
    margin: 15px;
    font-weight: bold;
}
.context {
    margin: 15px;
}
.label-keyword {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    display: inline-block;
    background: #7eb0db;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #357ebd;
    margin: auto 3px;
}