.userCard {
    text-align: center;
    padding: 15px;
}
.userCard > * {
    margin-left: auto;
    margin-right: auto;
}
.userAttr > div {
    display: table;
    margin-bottom: 10px;
}
.userAttr > div > span {
    width: 36px;
}
.userAttr > div > span,div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}