<section class="col-md-3 card-wrapper profile-card-wrapper affix">
	<div class="card profile-card"> <span class="profile-pic-container">
                        <div class="profile-pic">
                            <img data-src="holder.js/100x100" 
                            [alt]="resume?.basics?.name"
                            [src]="resume?.basics?.picture" class="media-object img-circle center-block"/>
                        </div>
                        <div class="name-and-profession text-center">
                            <h3>
                                <b>{{resume?.basics?.name}}</b>
                            </h3>
                            <h5 class="text-muted">
                                {{resume?.basics?.label}}
                            </h5>
                        </div>
                    </span>
		<hr/>
		<div class="contact-details clearfix">
			<div class="detail" *ngIf="locationString"> <span class="icon"><i class="icon fs-lg icon-location"></i></span> <span class="info">{{locationString}}</span> </div>
			<div class="detail" *ngIf="resume?.basics?.phone"> <span class="icon"><i class="icon fs-lg icon-phone"></i></span> <span class="info">{{resume?.basics?.phone}}</span> </div>
			<div class="detail" *ngIf="resume?.basics?.email"> <span class="icon"><i class="icon fs-lg icon-mail"></i></span> <span class="info"><a href="mailto:{{resume?.basics?.email}}" class="link-disguise">{{resume?.basics?.email}}</a></span> </div>
			<div class="detail" *ngIf="resume?.basics?.website"> <span class="icon"><i class="icon fs-lg icon-link"></i></span> <span class="info"><a [href]="resume?.basics?.website" target="_blank">{{resume?.basics?.website}}</a></span> </div>
			<div class="detail" *ngIf="languagesString"> <span title="Languages I speak" class="icon"><i class="icon fs-lg icon-language"></i></span> <span class="info">
                                {{languagesString}}
                            </span> </div>
		</div>
		<hr/>
		<div class="social-links text-center" *ngIf="resume?.basics?.profiles">
			<div>
				<a *ngFor="let item of resume?.basics?.profiles" [href]="item.url" target="_blank" data-toggle="tooltip" title="{{resume?.basics?.name}} on {{item.network}}" class="fs-2x social-link link-{{item.network.toLowerCase()}} icon-{{item.network.toLowerCase()}}"></a>
			</div>
		</div>
	</div>
</section>