<section class="col-md-9 card-wrapper pull-right">
    <div class="card background-card">
        <h4 class="text-uppercase">{{title}}</h4>
        <hr/>
        <div class="background-details">
            <app-components-section *ngFor="let item of sections" [content]="item"></app-components-section>            

            <div id="interests" class="detail">
                <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">興趣</span></div>
                <div class="info">
                    <h4 class="title text-uppercase">興趣</h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>